<div class="flex flex-col gap-4">
    <h2>Folders</h2>
    <ul>
        <% folders.forEach(file => { %>
            <li>
                <a href="/drive/folders/<%= file.id %>">
                    <%= file.name %>
                </a>
            </li>
        <% }) %>
    </ul>

    <h2>Files</h2>
    <ul>
        <% files.forEach(file => { %>
            <li>
                <a href="/drive/files/<%= file.id %>">
                    <%= file.name %>
                </a>
            </li>
        <% }) %>
    </ul>

  </div>
  