<div id="drive" class="flex justify-center flex-wrap flex-row">
    <div id="drive-left-panel" class="flex flex-col w-64 gap-6">
      <a href="/drive/folders/new-folder" id="new-folder-link">
        <div class="flex items-end gap-2">
          <img src="/images/icons8-folder-50.png" class="w-7" alt="Folder">
          <p class="text-blue-600 hover:underline underline-offset-4 decoration-2 hover:underline decoration-violet-500">
            New folder
          </p>
        </div>
      </a>
      <a href="/drive/folders/files/new-file" id="new-file-link">
        <div class="flex items-end gap-2">
          <img src="/images/icons8-file-50.png" class="w-7" alt="File">
          <p class="text-blue-600 hover:underline underline-offset-4 decoration-2 hover:underline decoration-violet-500">
            New file
          </p>
        </div>
      </a>
    </div>
    <div id="drive-right-panel" class="w-96">
        <% if (action === 'new-folder') { %>
            <%- include('new-folder-form') %>
        <% } else if (action === 'new-file') { %>
            <%- include('new-file-form') %>
        <% } else { %>
            <p>Welcome to your drive!</p>
        <% } %>
    </div>
  </div>
  <script>
    document.getElementById('new-folder-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('drive-right-panel').innerHTML = `<%- include('new-folder-form') %>`;
    });

    document.getElementById('new-file-link').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('drive-right-panel').innerHTML = `<%- include('new-file-form') %>`;
    });
</script>
  