<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>File Uploader</title>
</head>
<body class="px-40 pt-2 flex-coln">
  <section id = "header" class="pb-6 flex items-center justify-between sticky top-0">
    <div class="p-3 border-solid rounded-tl-lg bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
    File Uploader
    </div>
    <div class="">
      Sign in
    </div>
  </section>

  <section id="page-content" class="px-10 flex items-center">
    <h1>
      Easy and secure access to your content
    </h1>
    <p>
      Store, share, and collaborate on files and folders from your mobile device, tablet, or computer
    </p>
    <button class="p-2 border-solid rounded-br-lg bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Go to Drive</button>
    <div>
      <p>Don't have an account?</p>
      <button>Sign up at no cost</button>
    </div>
  </section>
</body>
</html>
